@model  Langben.DAL.Blog

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Blog.cshtml";
}

<div class="row">
    <div id="content" class="col-md-9">
        @if (Model != null)
        {
            <article class="post">
                <header class="entry-header" style="position:relative; margin-bottom:10px;">

                    <hgroup>
                        <h3>
                            <a href="#" rel="bookmark">@Model.Title</a>
                        </h3>
                    </hgroup>
                    <div class="entry-meta">
                        <span>
                            发榜：@Model.CreateTime.Value.ToString("yyyy年MM月dd日")
                        </span>
                        <span>
                            围观：@Model.ReadNumber
                        </span>
                    </div>
                </header>

                <div class="entry-content">
                    <p>
                        @Model.Content
                    </p>
                </div>
            </article>
        }

        <div class="comments">

            @if (Model != null && Model.Comment != null && Model.Comment.Count > 0)
            {
                <h5 class="comments-title">

                    @Model.Comment.Count 个码农在码砖
                </h5>
                <ol class="comment-list">
                    @foreach (var item in Model.Comment.OrderByDescending(o => o.CreateTime))
                {
                        <li>
                            <article>
                                <footer>

                                    <cite>
                                        @if (!string.IsNullOrWhiteSpace(ViewBag.CurrentPerson) && ViewBag.CurrentPerson == item.CreatePersonId)
                                        {
                                            <a href='#'>您</a>
                                        }
                                        else
                                        {
                                            <a href='@((string.IsNullOrWhiteSpace(ViewBag.CurrentPerson)) ? "~/login" : "~/Show/" + item.CreatePersonId)'> @item.CreatePerson </a>
                                        }

                                    </cite>
                                    <div class="comment-meta">
                                        <time pubdate="" datetime="2012-08-06T00:18:45+00:00">@item.CreateTime.Value.ToString("yyyy年MM月dd日")</time>
                                        <a class="comment-reply" onclick="commentReply('@item.Id');" href="#">彩（@item.AgreeNumber）</a>
                                    </div>
                                </footer>
                                <div class="comment-content">
                                    @item.Content
                                </div>
                            </article>
                        </li>
                    }
                </ol>
            }
        </div>

    </div>

    <div class="col-md-3">

        @if (!string.IsNullOrWhiteSpace(ViewBag.CurrentPerson))
            {
            <aside>
                <h3>码农有话说</h3>
                <textarea class="form-control" rows="3" id="txtContent"></textarea>

                <button class="btn btn-large btn-block btn-primary" type="button" onclick="AddContent(@Model.Id);">码砖</button>


            </aside> }
    </div>

</div>
<script type="text/javascript">
    //添加评论
    function AddContent(blogId) {
        var Content = $('#txtContent').val();
        if (trimStr(Content) == "") {
            alert("请输入码转内容");
            return;
        }
        $.ajax({
            async: false,
            url: "/api/CommentApi/Post",
            type: "Post",
            data: "blogId=" + blogId + "&Content=" + Content,
            dataType: "json",
            success: function (data) {
                if (data.Message == "请登录") {
                    window.location.href = "~/Login";
                }
                var comment = '<li> <article><footer> <cite><a href="#">您</a></cite> <div class="comment-meta"><time pubdate="" datetime="2012-08-06T00:18:45+00:00"> 一分钟前</time> <a class="comment-reply" href="#">彩（0）</a> </div> </footer><div class="comment-content">'
                               + Content + "</div> </article> </li>";
                $(".comment-list").prepend(comment);


            },
            error: function (data) {

                alert("提交失败！" + data);
            }
        });
    }
    //彩
    function commentReply(id) {

        $.ajax({
            async: false,
            url: "/api/CommentApi/Put",
            type: "Put",
            data: "id=" + id,

            success: function (data) {
                alert("待审核！");

            },
            error: function (data) {

                alert("提交失败！" + data);
            }
        });
    }
</script>