@model PagedList<Langben.DAL.Blog>
@using Webdiyer.WebControls.Mvc
@using Common
@using Models
@{
    ViewBag.Title = "人到";
    Layout = "~/Views/Shared/Blog.cshtml";
}

<link href="~/Content/pagerstyles.css" rel="stylesheet" />
@if (Model != null && Model.Count > 0)
{
    foreach (var item in Model)
    {
        <div class="row">
            <div class="col-md-3">
                <a href="/Blog/Details/@item.Id">
                    @if (string.IsNullOrEmpty(item.Picture))
                    {
                        item.Picture = "/images/portfolio_2_column_img_01.jpg";
                    }
                    @if (item.ReadNumber == null)
                    {
                        item.ReadNumber = 0;
                    }
                    @if (item.CommentNumber == null)
                    {
                        item.CommentNumber = 0;
                    }
                    <img src="@item.Picture" alt="" class="img-rounded img-responsive" />

                </a>
            </div>

            <div class="col-md-9">
                <div class="portofolio-imageGridTitle">
                    <h3><a href="/Blog/Details/@item.Id">@item.Title</a></h3>
                </div>
                <div class="portofolio-projectMeta">
                    @item.CreateTime.Value.ToString("yyyy年MM月dd日") 发榜，围观：@item.ReadNumber，评论：@item.CommentNumber
                </div>
                <div class="portofolio-imageGridContent">
                    @item.Abstract
                </div>
            </div>
        </div>
        <br />
    }
    <div class="text-center">
        @Html.Pager(Model, new PagerOptions { PageIndexParameterName = "id", ContainerTagName = "ul", CssClass = "pagination", CurrentPagerItemTemplate = "<li class=\"active\"><a href=\"#\">{0}</a></li>", DisabledPagerItemTemplate = "<li class=\"disabled\"><a>{0}</a></li>", PagerItemTemplate = "<li>{0}</li>", Id = "bootstrappager" })
    </div>


}



