@model IEnumerable<Langben.DAL.DegreeSchool>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Personal.cshtml";
}



<div class="col-md-9 column">
    <ul class="breadcrumb">
        <li><a>首页</a> </li>
        <li class="active">学历、学校 </li>
    </ul>
    <!--列表开始 -->
    <table class="table table-bordered table-striped">
        <tr>
            <th>序号</th>
            <th>开始日期</th>
            <th>结束日期</th>
            <th>学校</th>
            <th>专业</th>
            <th>学位</th>
            <th>操作</th>
        </tr>
        @if (Model != null && Model.Count() > 0)
        {
            var IndexNo = 1;
            foreach (var item in Model)
            {


                <tr>
                    <td>@IndexNo</td>
                    <td>
                        @item.BeginDate.ToString("yyyy-MM-dd")
                    </td>
                    <td>
                        @if (item.IsNow != "Y" && item.EndDate != null)
                    {

                            @Convert.ToDateTime(item.EndDate).ToString("yyyy-MM-dd")
                        }
                    </td>
                    <td>
                        @item.SchoolName
                    </td>
                    <td>
                        @item.ProfessionalType1【@item.ProfessionalType2】
                    </td>
                    <td>
                        @item.Education【@item.Degree】
                    </td>
                    <td>
                        <a href="javascript:EditShow('@item.Id')" class="btn btn-link btn-xs" title="编辑"><i class="fa fa-pencil-square-o"></i> <span class="sr-only">编辑</span></a> | <a href="javascript;Delete('@item.Id')" class="btn btn-link btn-xs" title="删除"><i class="fa fa-trash"></i><span class="sr-only">删除</span></a>
                    </td>
                </tr>
                IndexNo = @IndexNo + 1;
            }
        }

    </table>
    <p>
        <input class="btn btn-primary" type="button" value="添 加" onclick="AddShow()" />        
    </p>
    <div class="form-horizontal" role="form" id="divEdit" style="display:none">
        <input type="hidden"  id="hideID" value=""/><!--编号-->
        <input type="hidden" id="hideResumeId" value="" /><!--简历管理Id-->
        <input type="hidden" id="hideSort" value="0" /><!--排序-->
        <input type="hidden" id="hideState" value="启用" /><!--状态-->
        <input type="hidden" id="hideCreateTime" value="" /><!--创建时间-->
        <input type="hidden" id="hideCreatePerson" value="" /><!--创建人-->       
        <div class="form-group">
            <label class="col-sm-3 control-label">开始日期<span class="required">* </span></label>
            <div class=" col-sm-5">
                <div class="input-group">
                    <input type="text" class="form-control input-inline" id="txtBeginDate" onclick="WdatePicker()" />
                    <span class="input-group-addon" onclick="WdatePicker({ el: 'txtBeginDate' })"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">结束日期<span class="required">*</span></label>
            <div class=" col-sm-6">
                <div class="input-group">
                    <input type="text" class="form-control input-inline" id="txtEndDate" onclick="WdatePicker()" />
                    <span class="input-group-addon" onclick="WdatePicker({ el: 'txtEndDate' })"><i class="fa fa-calendar"></i></span>
                    <div style="float: left">&nbsp;<input name="cbIsNow" id="cbIsNow" type="checkbox" />至今</div>
                </div>
            </div>

        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">学校</label>
            <div class="col-sm-5">

                <select class="form-control  input-inline" id="ddlSchoolArea" style="max-width:105px">
                    <option>请选择</option>
                    <option>北京</option>
                    <option>河北</option>
                </select>
                <select class="form-control  input-inline" id="ddlSchoolName"  style="max-width:200px">
                    <option>请选择</option>                  
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">专业</label>
            <div class="col-sm-5">
                <select class="form-control  input-inline" id="ddlProfessionalType1"  style="max-width:105px">
                    <option>请选择</option>
                    <option>哲学类</option>
                    <option>经济学类</option>
                </select>
                <select class="form-control  input-inline" id="ddlProfessionalType2" style="max-width:200px">
                    <option>请选择</option>                    
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">学历</label>
            <div class="col-sm-5">
                <select class="form-control input-inline" id="ddlEducation">
                    <option value="10">无</option>
                    <option value="20">专科</option>
                    <option value="30">本科</option>
                    <option value="40">双学士</option>
                    <option value="50">硕士研究生</option>
                    <option value="60">MBA</option>
                    <option value="70">博士研究生</option>
                    <option value="80">博士后及以上</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">学位<span class="required"> </span></label>
            <div class="col-sm-9">
                <select class="form-control  input-inline" id="ddlDegree">
                    <option value="">请选择</option>
                    <option value="10">无</option>
                    <option value="20">学士</option>
                    <option value="30">双学士</option>
                    <option value="40">硕士</option>
                    <option value="50">MBA</option>
                    <option value="60">博士（后）</option>
                </select>
            </div>
        </div>

        <hr>
        <div class="form-group" id="divAddOp" style="display:none">
            <div class="col-sm-offset-3 col-sm-5">
                <input class="btn btn-primary" type="button" value="保存继续添加" onclick="AddSubmint('Add');" />
                <input class="btn btn-primary" type="submit" value="保存跳转下一步" onclick="AddSubmint('Next');" />
                <input class="btn btn-primary" type="button" onclick="BackList('/LanguageCompetence/Index')" value="下一步" />
            </div>
        </div>
        <div class="form-group" id="divEditOp" style="display:none">
            <div class="col-sm-offset-3 col-sm-5">              
                <input class="btn btn-primary" type="submit" value="保存跳转下一步" />
                <input class="btn btn-primary" type="button" onclick="BackList('/LanguageCompetence/Index')" value="下一步" />
            </div>
        </div>
        <div class="form-group" id="divNoOp">
            <div class="col-sm-offset-3 col-sm-5">               
                <input class="btn btn-primary" type="button" onclick="BackList('/LanguageCompetence/Index')" value="下一步" />
            </div>
        </div>
    </div>    
   
</div>
<script type="text/javascript">

    $(function () {

        //学校
        GetSysField("#ddlSchoolArea", "DegreeSchool", "SchoolArea");
        $("#ddlSchoolArea").change(function () { GetSysFieldByParent("#ddlSchoolName", "#ddlSchoolArea", "SchoolName", "SchoolArea"); });
        //专业
        GetSysField("#ddlProfessionalType1", "DegreeSchool", "ProfessionalType1");
        $("#ddlProfessionalType1").change(function () { GetSysFieldByParent("#ddlProfessionalType2", "#ddlProfessionalType1", "ProfessionalType2", "ProfessionalType1"); });

        //学历
        GetSysField("#ddlEducation", "DegreeSchool", "Education");

        //学位
        GetSysField("#ddlDegree", "DegreeSchool", "Degree");
       

    });

    //添加
    function AddShow() {
        $("#hideID").val("");
        $("#txtBeginDate").val("");
        $("#txtEndDate").val("");       
        $("#cbIsNow").attr("checked", false);     
        $("#ddlSchoolArea").get(0).selectedIndex = 0;
        $("#ddlSchoolName").get(0).selectedIndex = 0;
        $("#ddlProfessionalType1").get(0).selectedIndex = 0;
        $("#ddlProfessionalType2").get(0).selectedIndex = 0;
        $("#ddlEducation").get(0).selectedIndex = 0;
        $("#ddlDegree").get(0).selectedIndex = 0;        
        $('#divEdit').show();
        $('#divAddOp').show();
        $('#divEditOp').hide();        
        $('#divNoOp').hide();
        
        
    }
    //数据检验
    function CheckData()
    {
        var BeginDate = $("#txtBeginDate").val();
        var EndDate = $("#txtEndDate").val();
        var IsNow = ($("#cbIsNow").attr("checked"));
        var Message = "";
        if(trimStr(BeginDate)=="")
        {
            Message = "开始日期不能为空\n\r";
        }
        // checkbox "undefined" "checked"
        if (trimStr(EndDate) == "" && IsNow == "undefined") {
            Message = "结束日期不能为空\n\r";
        }
        if(Message!="")
        {
            alert(Message);
            return false;
        }
        return true;
    }
    //保存提交
    function AddSubmint(Op)
    {
        //验证数据
        if(CheckData())
        {
            var Id = $("#hideID").val();
            var BeginDate = $("#txtBeginDate").val();
            var EndDate = $("#txtEndDate").val();           
            var IsNow = ($("#cbIsNow").attr("checked"));
            // checkbox "undefined" "checked"
            if (IsNow == "checked")
            {
                EndDate = "";
                IsNow = "Y";
            }
            else
            {
                IsNow = "N";
            }
            
            var SchoolArea = $("#ddlSchoolArea").val();
            var SchoolName = $("#ddlSchoolName").val();
            var ProfessionalType1 = $("#ddlProfessionalType1").val();

            var ProfessionalType2 = $("#ddlProfessionalType2").val();
            var Education = $("#ddlEducation").val();
            var Degree = $("#ddlDegree").val();            
            //var Model=  jQuery.parseJSON('{"'BeginDate": "'+BeginDate+'", "EndDate": "'+EndDate+'", "IsNow": "'+IsNow+'", "SchoolArea": "'+SchoolArea+'", "SchoolName": "'+SchoolName+'", "ProfessionalType1": "'+ProfessionalType1+'", "ProfessionalType2": "'+ProfessionalType2+'", "Education": "'+Education+'", "Degree": "'+Degree+'" }');
            var Model = '{ "Id":"'+Id+'","BeginDate": "' + BeginDate + '", "EndDate": "' + EndDate + '", "IsNow": "' + IsNow + '", "SchoolArea": "' + SchoolArea + '", "SchoolName": "' + SchoolName + '", "ProfessionalType1": "' + ProfessionalType1 + '", "ProfessionalType2": "' + ProfessionalType2 + '", "Education": "' + Education + '", "Degree": "' + Degree + '" }';


            $.ajax({
                url: "/DegreeSchool/CreateSave",
                type: "post",
                dataType: "json",
                //data: { "BeginDate": BeginDate, "EndDate": EndDate, "IsNow": IsNow, "SchoolArea": SchoolArea, "SchoolName": SchoolName, "ProfessionalType1": ProfessionalType1, "ProfessionalType2": ProfessionalType2, "Education": Education, "Degree": Degree },
                data: { "Model": Model },
                success: function (data) {
                    if (data.Code == 1) {//成功
                        alert("操作成功");
                        if(Op=="Next")
                        {
                            window.location.href ="/LanguageCompetence/Index";
                        }
                    }
                    else {//失败
                        alert(data.Message);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {                   
                    return false;
                }
            });
        }
    }
    //修改显示
    function EditShow(Id) {
        $("#hideID").val(Id);
        $.ajax({
            url: "/DegreeSchool/GetById",
            type: "post",
            dataType: "json",
            data: { "Id": Id },
            success: function (data) {
                if (data !=null) {//成功
                    $("#txtBeginDate").val(jsonDateFormat(data.BeginDate));
                    $("#txtEndDate").val(jsonDateFormat(data.EndDate));
                    if (data.IsNow=="Y")
                    {
                        $("#cbIsNow").attr("checked", true);
                    }
                    else
                    {
                        $("#cbIsNow").attr("checked", false);
                    }                   
                    $("#ddlSchoolArea").val(data.SchoolArea).change();
                    $("#ddlSchoolName").val(data.SchoolName);
                    $("#ddlProfessionalType1").val(data.ProfessionalType1).change();
                    $("#ddlProfessionalType2").val(data.ProfessionalType2);
                    $("#ddlEducation").val(data.Education);
                    $("#ddlDegree").val(data.Degree);
                    $("#hideResumeId").val(data.ResumeId);
                    $("#hideSort").val(data.Sort);
                    $("#hideCreateTime").val(data.CreateTime);
                    $("#hideCreatePerson").val(data.CreatePerson);
                    $('#divEdit').show();
                    $('#divAddOp').hide();
                    $('#divEditOp').show();
                    $('#divNoOp').hide();
                }
                else {//失败
                    alert("未获取到数据");
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                return false;
            }
        });

    }
    //删除
    function Delete(Id) {
    }

</script>
